{% if app.user %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set couleur = "danger" %}
    {% else %}
        {% set couleur = "success" %}
    {% endif %}
{% else %}
    {% set couleur = "primary" %}
{% endif %}

{# set en twig permet de créer des variables #}



<nav class="navbar navbar-expand-lg bg-{{couleur}}">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('home') }}">{{ denomination|raw }}</a>
        {# le filter raw permet d'interprêter le code et non de l'afficher comme chaîne de caractères #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_main') }}">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('catalogue') }}">Catalogue</a>
                </li>

            </ul>


            <ul class="navbar-nav  mb-2 mb-lg-0 me-4">


                {# CONNECTÉ #}
                {% if app.user %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {# la fonction twig is_granted() permet d'écouter le rôle de l'utilisateur connecté #}
                            {% if is_granted('ROLE_ADMIN') %}
                                Back Office
                            {% else %}
                                {{ app.user.prenom }}
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('app_profil') }}">Profil</a></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('produit_afficher') }}">Gestion des produits</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_categorie_index') }}">Gestion des catégories</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_marque_index') }}">Gestion des marques</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_admin_matiere_index') }}">Gestion des matières</a></li>
                            {% endif %}
                            
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>

                    </li>
                {% else %} {# NON CONNECTÉ #}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
                    </li>

                {% endif %}


            </ul>


        </div>

    </div>
</nav>

{#
    La fonction twig path() permet de rediriger sur une route (liens internes)

    2 arguments :
        1er (obligatoire) : le NOM de la route 
        2e (facultatif) : tableau des paramètres

#}
