{% extends 'base.html.twig' %}

{% block title %}Gestion des matières{% endblock %}


{% block h1 %}Gestion des matières{% endblock %}

{% block body %}

    {% for notification in app.flashes("success") %}
        <div class="col-md-6 mx-auto text-center alert alert-success">
            {{ notification }}
        </div>
    {% endfor %}

    <a class="btn btn-success" href="{{ path('app_admin_matiere_new') }}">Ajouter</a>  

    <table class="table table-striped table-hover text-center mt-3">
        <thead class="bg-dark text-white">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Fiche</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.id }}</td>
                <td>{{ matiere.nom|capitalize }}</td>
                <td>
                    <a href="{{ path('app_admin_matiere_show', {'id': matiere.id}) }}">
                        <i class="text-warning" data-feather="book-open"></i>
                    </a>
                </td>

                <td>
                    <a href="{{ path('app_admin_matiere_edit', {'id': matiere.id}) }}">
                        <i class="text-info" data-feather="edit"></i>
                    </a>
                </td>

                <td>
                    {{ include('admin_matiere/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
